.main {
    border: 2px solid #000;
    width: 904px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Trebuchet MS", sans-serif;
    font-weight: 700;
}

.container {
    display: flex;
    height: 400px;
    background: aliceblue;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.sidebar {
    width: 180px;
    background: beige;
}

.sidebar:first-child {
    border-right: 2px solid #000;
}

.sidebar:last-child {
    border-left: 2px solid #000;
}

.sidebar .resources {
    width: 150px;
    height: 120px;
    margin: 10px auto;
    position: relative;
}

.sidebar .resources .qty {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
}

.sidebar .resources .qty:before {
    content: '+';
}

.sidebar .resources .number {
    line-height: 120px;
    text-align: center;
    font-size: 40px;
}

.col-2 {
    padding: 0 20px;
    display: flex;
    align-items: flex-end;
}

.arena {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    background: url('../img/bg.jpg') center / cover;
}

.arena .last-card {
    position: absolute;
    top: 50px;
    left: calc(50% - 48px);
    width: 96px;
    height: 128px;
}


.tower {
    position: relative;
    width: 100px;
    height: 75px;
    margin: 0 20px;
    padding-top: 76px;
}

#pl-tower {
    background: url('../img/tower-p.png') top center / cover;
}

#enemy-tower {
    background: url('../img/tower-e.png') top center / cover;
}

.wall {
    position: relative;
    height: 75px;
    width: 30px;
    background: url('../img/wall.jpg') top center / cover;
    border-radius: 2px 2px 0 0;
    border: 1px solid #65502596;
    border-bottom: 0;
    border-top: 0;
}

.tower, .wall {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tower .count,
.wall .count {
    position: absolute;
    top: -22px;
    left: 50%;
    width: 34px;
    margin-left: -17px;
    padding: 1px 0;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

#pl-t-count,
#pl-w-count,
#pl-resources{
    background: #3f436f;
}

#enemy-t-count,
#enemy-w-count,
#enemy-resources {
    background: #813d3e;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    position: relative;
}

.cards:before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/cards-bg.jpg') center / cover;
    z-index: 1;
}

.cards.hidden:before {
    z-index: 3;
}

.cards .card {
    position: relative;
    top: 0;
    width: 96px;
    height: 128px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    transition: all .2s;
    cursor: pointer;
    z-index: 2;
}
.cards .card.card-disabled {
    cursor: not-allowed;
}
.cards .card-disabled:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.5);
}

#pl-recruits, #enemy-recruits {
    background: url('../img/recruits.jpg') center / cover;
}

#pl-bricks, #enemy-bricks {
    background: url('../img/bricks.jpg') center / cover;
}

#pl-gems, #enemy-gems {
    background: url('../img/gems.jpg') center / cover;
}

.quarry,
.magic,
.dungeon {
    color: #fff;
    text-shadow: 0 0 5px #000;
}